h1 {
    text-align: center;
   text-underline-position: below;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 40px;
}

p {
    font-weight: bolder;
    border-bottom-style: dashed;
    border-bottom: white;
    
}
.footer-details {
    height: 20px;
    width: auto;
    font-style: italic;
}

.body {
    color: black;
    background-image: url("img/pink-clouds.png");
    text-align: center;
}

.contact-info {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(240, 109, 190);
    color: black;
  }